@font-face {
  font-family: 'PWHappyChristmas';
  src: url('/fonts/PWHappyChristmas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-happy-christmas {
  font-family: 'PWHappyChristmas', sans-serif;
}

.scale-up {
  transform: scale(1.7); /* Adjust the scale value as needed */
  transition: transform 0.2s; /* Optional: Add a transition for smooth scaling */
}